/* Main Layout */
body, html{
    padding:0;
    margin:0;
    position:relative;
    height:100%;
	
}
.header{
    width:100%;
	height:55px;
    background:#ffffff ;
	padding:0;
}
.footer{
    width:100%;
	height:15px;
    background:#DAF7A6;
	padding:0;
	margin-top:0px;
	margin-bottom:0px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.content{
    width:calc(100% - 1px);
    height:calc(100% - 20px);
}
.left{
	float: left;
	width:1px;
  height:100%;
}
.middle{
    float: left;
    max-width:calc(100% - 122px);
    min-width:calc(100% - 338px);
	  width:62%;
    height:100%;
}
.right{
	float: right;
	max-width:337px;
	min-width:121px ;
	width:37%;
  height:100%;
}

/* Header */
header #logo {float: left; height: 50px; background-color: white;}
header #logo img {height: 50px; padding: 0px 0px;}
header ul {float: right; margin-right: 60px; margin-top: 0px;}
header ul li {display: inline;}
header ul li a {padding: 5px 0 2px; margin-left: 10px; text-decoration: none; border-bottom: 2px solid gray; color: gray;}
header h1 {margin: 0px 0 5px; padding: 5px; font-size: 2.8em;}
header h1 a {text-decoration: none;}
header p {font-style: italic; margin: 0; padding: 0;}
header h1, header p {padding-left: 15px;}
header h1, header h1 a, header p {color: #444;}


/* Text */
h1{
	font-family:Helvetica;
	font-size:45px;
	padding:0px;
	line-height: 1;
	margin:0px;
	
}

/* Sliders */
.slidecontainer {
    width: 90%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}



/* The Mapbox map */
#map {
  position: relative;
  top: 1px;
  bottom: 1px;
  width:100%;
  height:100%;
}


