/* The Modal (background) */
.welcome {
  position: fixed;
  top: 10%; 
  max-width: 800px;
  height: 80%;
  background-color: white;
  border: solid 1px #444;
  border-radius: 25px;
  z-index: 1003;
  padding: 20px;
  overflow: auto; /* Enable scroll if needed */
  margin-left: 10%; /**scalable on mobile / tablets **/
  margin-right: 10%;
}
p.welcome-end {
    font-size: 0.9em;
    font-weight: normal;
}

/* The Close Button */
.closewelcome {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closewelcome:hover,
.closewelcome:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
