/* The Modal (background) */
.welcome {
  position: fixed;
  top: 10%; 
  left: 5%; 
  width: 80%;
  max-width: 800px;
  height: 80%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 25px;
  z-index: 1003;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto; /* Enable scroll if needed */
}

/* The Close Button */
.closewelcome {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closewelcome:hover,
.closewelcome:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p.welcome-end {
font-size: 0.9em;
font-weight: normal;
}