/* The Modal (background) */
.welcome {
  position: fixed;
  top: 10%; 
  left: 10%; 
  width: 80%; 
  height: 80%; 
  background-color: white; 
  z-index: 1001;
  border-radius: 25px;
  padding: 20px;
  overflow: auto; /* Enable scroll
  if needed */
}

